{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <h3>Dziekuję za rejestrację.</h3>
  <p>Możesz przejść teraz do strony głównej i komentować posty.
{% endblock fos_user_content %}
