{% trans_default_domain 'FOSUserBundle' %}


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon
    -->
    <div class="fadeIn first">
      <h3 style="text-align: center">Rejestracja</h3>
    </div>

    <!-- Registration Form -->

    <form action="{{ path('fos_user_registration_register') }}" method="post">
        {{ form_widget(form._token) }}
        <input type="email"     class="fadeIn first" id="fos_user_registration_form_email"                 name="fos_user_registration_form[email]"                  required="required" placeholder="E-mail"/>
        <input type="text"      class="fadeIn second" id="fos_user_registration_form_username"             name="fos_user_registration_form[username]"               required="required" placeholder="Nazwa użytkownika" maxlength="180" pattern=".{2,}"/>
        <input type="text"      class="fadeIn second" id="fos_user_registration_form_displayName"          name="fos_user_registration_form[displayName]"            required="required" placeholder="Wyświetlana nazwa" maxlength="180" pattern=".{2,}"/>
        <input type="password"  class="fadeIn third" id="fos_user_registration_form_plainPassword_first"   name="fos_user_registration_form[plainPassword][first]"   required="required" placeholder="Hasło"/>
        <input type="password"  class="fadeIn third" id="fos_user_registration_form_plainPassword_second"  name="fos_user_registration_form[plainPassword][second]"  required="required" placeholder="Potwierdź hasło"/>

        <input type="submit" class="fadeIn fourth" value="Zarejestruj"/>
    </form>
  </div>
</div>

</form>



{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}
