{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
